.mainContainer {
  min-height: 85vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  background-color: white;
  border-radius: 1rem;
  width: 50%;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;

  label {
    gap: 0.3rem;
    font-weight: 600;

    display: flex;
    flex-direction: column;
    justify-content: center;

    input {
      padding: 0.8rem;
      font-size: 1.1rem;
    }

    textarea {
      resize: none;
      font-size: 1.2rem;
      padding: 0.8rem;
      height: 8rem;
    }
  }

  button {
    padding: 1rem;
    cursor: pointer;
    border: none;
    background-color: var(--primary);
    color: var(--neutral-200);
    font-weight: 600;

    &:hover {
      opacity: 0.7;
      transition: 400ms;
      color: black;
    }
  }
}

@media (max-width: 1200px) {
  .mainContainer {
    padding-bottom: 6rem;
  }

  .formContainer {
    width: 70%;

    button {
      padding: 1rem;
    }

    label {
      gap: 0.1rem;
      font-weight: 600;

      display: flex;
      flex-direction: column;
      justify-content: center;

      input {
        padding: 0.8rem;
        font-size: 1.1rem;
      }

      textarea {
        resize: none;
        font-size: 1rem;
        padding: 0.3rem;
        height: 8rem;
      }
    }
  }
}
