.mainContainer {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}

.contentContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .mainContainer {
    margin-bottom: 4rem;
  }
}
